body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #c1c1c1;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
}

.logo_machine {
    width: 80px;
    height: 80px;
}

.bannerInit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 15px 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 0.1rem 0.5rem #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #f6f6f6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.sessondiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.sessontexto {
    font-size: 20px;
    text-align: center;
}

.imagem1 {
    display: flex;
    padding: 0;
    margin: 0;
    width: 800px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.contain2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.botaodiv {
    display: block;
    align-items: center;

    padding: 1rem, 1rem, 1rem, 1rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}

.cabeçalho {
    /* background-color: #007bff; */
    color: #fff;
    padding: 15px 0;
}

.barra-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 150px;
}

.links-navegacao {
    list-style: none;
    display: flex;
}

.links-navegacao li {
    margin: 0 15px;
}

.links-navegacao a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

.texto-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.texto-hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.texto-hero p {
    font-size: 1.25rem;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0 4px 8px rgb(255, 166, 0), 0 0 0 rgba(255, 255, 0, 0.5), 0 0 0 rgba(169, 169, 169, 0.5);
    }

    50% {
        box-shadow: 0 4px 8px rgb(255, 255, 4), 0 0 0 rgb(255, 166, 0), 0 0 0 rgba(169, 169, 169, 0.5);
    }

    25% {
        box-shadow: 0 4px 8px rgb(165, 120, 15), 0 0 0 rgba(255, 255, 0, 0.5), 0 0 0 rgba(255, 165, 0, 0.5);
    }

    25% {
        box-shadow: 0 4px 8px rgba(255, 167, 4, 0.781), 0 0 0 rgba(255, 255, 0, 0.5), 0 0 0 rgba(255, 165, 0, 0.5);
    }
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5);
    animation: shadowAnimation 5s ease-in-out infinite;
}


.caracteristicas ul,
.detalhes-tecnicos ul {
    list-style: none;
}

.caracteristicas li,
.detalhes-tecnicos li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 6px;
}

.caracteristicas li:nth-child(odd),
.detalhes-tecnicos li:nth-child(odd) {
    background-color: #e9ecef;
}

.chamada-acao {
    text-align: center;
}

.botao-cta {
    display: inline-block;
    padding: 25px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 5px;
    background: linear-gradient(141deg, #bb890b, #ffb700, #817044, #d39b0b, #997109);
    background-size: 1000% 1000%;
    animation: AnimationName 5s ease infinite; /* Definido um tempo para animação */
}

@keyframes AnimationName {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 100% 96%;
    }
    100% {
        background-position: 0% 5%;
    }
}





.rodape {
    color:#f6f6f6;
    margin-top: 3rem;
    padding-top: 1rem;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
    text-align: center;
}


.sessondiv {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.imagem1 {
    margin: 0 auto;
    align-items: center;
    width: 900px;
    height: 460px;
}

.divImagem1 {
    margin: 0 auto;
    align-items: center;
    justify-content: center;


}